<!DOCTYPE html>
<head>
	<!-- templatemo 419 black white -->
    <!-- 
    Black White
    http://www.templatemo.com/preview/templatemo_419_black_white
    -->
	<title>Camera 2</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">

	{% load static %}
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
	<div class="templatemo-logo visible-xs-block">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg logo-left-container">
			<h1 class="logo-left">Object</h1>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-right-container">
			<h1 class="logo-right">Detection</h1>
		</div>			
	</div>
	<div class="templatemo-container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
			<h1 class="logo-left hidden-xs margin-bottom-60">Object</h1>	
			<div class="tm-left-inner-container">
				<ul class="nav nav-stacked templatemo-nav">
				  <li><a href="http://127.0.0.1:8000/index">Home</a></li>
				  
				  <li><a href="http://127.0.0.1:8000/index/camera1">Camera 1</a></li>
				  
				  <li><a href="http://127.0.0.1:8000/index/camera2">Camera 2</a></li>

				</ul>
			</div>
		</div> <!-- left section -->
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">
			<h1 class="logo-right hidden-xs margin-bottom-60">Detection</h1>	
			<div class="tm-right-inner-container">

				<h1 class="templatemo-header"></h1>

				{% load static %}
				<img src="{% static 'images/ocst.jpg' %}" alt="ocst" class="img-thumbnail">
		
				<article class="templatemo-item">
					<h2>Camera 2</h2>
					
					<p>
					 <img src="{% url 'video-feed-2' %}" alt=""></br></br>	
					</p>
					
				</article><hr>
				
				<footer>
					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; 2019 OCST <!-- Credit: www.templatemo.com --></p>
					</br>
<!-- 					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-social">
						<a href="#"><i class="fa fa-facebook fa-medium"></i></a>
						<a href="#"><i class="fa fa-twitter fa-medium"></i></a>
						<a href="#"><i class="fa fa-google-plus fa-medium"></i></a>
						<a href="#"><i class="fa fa-youtube fa-medium"></i></a>
						<a href="#"><i class="fa fa-linkedin fa-medium"></i></a>
					</p> -->

					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Website: http://www.ocst.co.kr/</p>

				</footer>
			</div>	
		</div> <!-- right section -->
	</div>	
</body>
</html>